<%= form_for [main_app, image], :html => { :multipart => true } do |f| %>
  <%= content_tag :div, "Update", :class => 'simple_image_btn' %>
  <div style='display: none'>
    <%= f.file_field :image, :class => 'simple_image_input' %>
  </div>
<% end %>