<% form_id = "edit_simple_image_#{dom_id(image)}" %>

<%= form_for [main_app, image], html: { id: form_id, multipart: true } do |f| %>
  <%= content_tag :div, 'Edit', :class => 'simple_image_btn simple_images_edit_link' %>
  <div style='display: none'>
    <%= f.file_field :image, :class => 'simple_image_input' %>
  </div>
<% end %>