<%= form_for [imageable, Image.new], :html => { :multipart => true } do |f| %>
  <%= content_tag :div, 'Add Image', :class => 'simple_image_button' %>
  <div style='display: none'>
    <%= f.file_field :picture, :class => 'simple_image_input' %>
  </div>
<% end %>