.new_simple_image {
  height: 45px;
  width: 45px;
  margin: 5px;
  padding: 10px;
  background: silver;
  position: relative;
  font-size: 16px;
  font-family: Arial, Helvetica, Sans-serif;
  .simple_image_btn {
    border: 1px dashed white;
    height: 23px;
    width: 43px;
    text-align: center;
    color: white;
    padding: 10px 0;
    font-size: 0.7em;
    cursor: pointer;
    &:hover {
      background: grey;
    }
  }
}